@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

    font-family: Helvetica,Arial, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 15px;

    color: whitesmoke;
    background-color: black;
}

header nav > ul{
    display: flex;

    list-style-type: none;
    list-style-position: inside;
}

a{
    padding-left: 15px;

    text-decoration: none;
    color: whitesmoke;
}

input{			
    border: none;
    outline: none;
}

main{
    margin: 0 auto;
    margin-top: 45px;
    max-width: 800px;
}

#register{
    margin: 0 auto;
    max-width: 480px;
    height: 350px;

    background-color: #d3d3d3;
}

main #register{
    padding: 10px;
}

main #register h1{
    margin: -10px -10px 0px -10px;
    padding: 10px;

    text-align: center;
    color: whitesmoke;
    background-color: black;
}

main #register-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89%;
}

#register form{
    text-align: center;
}

#register form > input{
    margin: 10px 0px;
    padding: 8px 10px;

    font-weight: bold;
}

#register .register-area-form-input_title{
    display: block;

    font-weight: bold;
}

#register .register-area-form-input{
    font-size: .9em;
}

#register form > input[type="submit"]{
    font-size: 0.9em;
    color: whitesmoke;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.164);
    background-color: black;
}

#register form > input[type="button"]:focus{
    border: 2px solid whitesmoke;
}