@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

:root{
    --fontPrim: 'Passion One';
    --fontPoem: 'Sriracha';
    --othrFont: Verdana;
}

header{
    max-width: 100vw;
    /*padding: 63px;*/
    text-align: center;
    font-family: var(--fontPrim);
    font-weight: 700;
    font-size: 3.5em;
    color: white;
    background-color: black;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
    font-family: var(--othrFont);
    font-weight: normal;
    font-size: 0.28em;
}

 a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fontPoem);
    font-size: 3em;
}

.noBg{
    color: black;
    background-color: white;
}

.Bg{
    color: white;
    background-color: rgb(51, 51, 51);
    background-image: url("../../imagens/background001.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Bg p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.24);
}

footer{
    padding: 10px;
    text-align: center;
    font-family: var(--othrFont);
    color: white;
    background-color: black;
}

footer abbr{
    text-decoration: none; 
}