@charset "UTF-8";

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: var(--stdrt-font);
}

/* === VAR === */
:root {
    /* === FONTS === */
    --stdrt-font: Helvetica, Arial, sans-serif;
}

/* === GENERAL SETS === */
body {
    background: #dedede
}

input {
}

input[type="input"] {
    width: 100%;
}

li {
    list-style-position: inside;
}

a {
    color: inherit;
    text-decoration: none;
}

/* === HEADER === */
.header {

}