@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@font-face {
    font-family: "Neue Machina";
    src: url("../Neue\ Machina\ -\ Free\ for\ Personal\ Use/NeueMachina-Ultrabold.otf") format("opentype");
    font-style: normal;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;

    font-family: Helvetica, Arial, sans-serif;

    border: none;
    outline: none;
    
    text-transform: lowercase;

    scrollbar-width: thin;
    scrollbar-color: #707071  transparent;
    scroll-behavior: smooth;
}

html {
  background-color: var(--gray-4);
}

:root {
    /* === FONTS === */
    --stdrt-font: "Neue Machina", Helvetica, sans-serif;
    --scnd-font: "Bree Serif", serif;

    /* === Colors === */
    --bg: #141414;
    --sub-t-bg: rgba(115, 115, 115, 0.2);

    --purple: #744DDE;
    --green: #15A287;
    --red: #D11717;
    --yellow: #FFDE59;
    --gray: #A6A6A6;
    --gray-2: #D9D9D9;
    --gray-3: #3a3a3a;
    --gray-4: #191919;
   
    /* === Properties === */
    --root-container-width: 1050px;
    --padding: 0 var(--gap-4);

    --gap-1: 100px;
    --gap-2: 58px;
    --gap-3: 20px;
    --gap-4: 10px;

    --fix-top: -13px;
}

/* === GENERAL SETS === */
abbr, a {
    /* display: inline-block; */
    color: var(--yellow);
    text-decoration: none;
}

body {
    color: white;
    font-family: var(--stdrt-font);
    background: var(--bg);
}

li {
    font-family: var(--stdrt-font);
    
    list-style-type: disc;
    list-style-position: inside;
}

li a {
    font-family: var(--stdrt-font);
}

.pipe {
    font-weight: bolder;
    color: var(--gray);
}

li.warn-1, li.warn-1 a {
    font-style: italic;
}

li.warn-1 a::after {
    display: inline-block;
    content: "";

    margin-left: 5px;

    width: 13px;
    height: 13px;

    background: url("../imgs/warn logo.svg") no-repeat;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    max-width: var(--root-container-width);
    
    user-select: none;

    margin: 0 auto;
    padding: var(--gap-2) 10px 0;
}

.header h1 {
    flex: 1 1 0;

    margin: -14px var(--gap-4) -4px 0;
    
    font-family: var(--stdrt-font);
    font-weight: bold;
    font-size: 3.25em;

    transform: translate(-4px, 3px);
    animation: movin .685s ease-in-out .5s;
    animation-fill-mode: forwards;
}

.header .subtitle {
    flex: 3 1 370px;

    padding: 5px;

    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;

    border-radius: 5px;
    background: var(--sub-t-bg);
}

/* === CAPTIONS ===*/
.captions-area {
    margin: var(--gap-2) auto;
    padding: var(--padding);
    max-width: var(--root-container-width);
}

.captions-area h1,
.captions-area p {
    font-family: var(--stdrt-font);
    font-weight: bold;
}

.captions-area ul {
    margin: var(--gap-4) 0 0 var(--gap-4);
}

.captions-area li {
    list-style-type: square;
    font-weight: bold;
    color: #D11717;
}

/* === DESCRIPTION ===*/
section.description-area {
    max-width: var(--root-container-width);

    margin: var(--gap-2) auto;
    padding: var(--padding);
}

section.description-area h1,
section.description-area p {
    font-family: var(--scnd-font);
    font-weight: normal;
}

section.description-area p {
    color: var(--gray-2);
}

section.description-area .link-to-gh-page-area {
    display: inline-block;

    margin-top: var(--gap-4);

    border: 1px solid gray;
    border-radius: 5px;
    background: linear-gradient(to bottom, white, #cfcfcf);
}

section.description-area .link-to-gh-page-area:hover {
    background: #cccccc;
}

section.description-area .link-to-gh-page-area:active {
    background: #c2c1c1;
}

section.description-area .link-to-gh-page-area-content {
    display: flex;
    align-items: center;    

    padding: 5px 10px;
}

section.description-area .link-to-gh-page-area svg {
    height: 20px;
}

section.description-area .link-to-gh-page-area p {
    margin-left: 5px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}

/* === MAIN === */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items: center;

    margin: 0 auto;
    padding: var(--padding);
    max-width: var(--root-container-width);
}

main h1 {
    display: inline-block;

    font-family: var(--stdrt-font);
    font-weight: bold;
    font-size: 2em;
}

main h1::before {
    display: inline-block;
    content: "";


    margin: 0 var(--gap-4) 0 0;
    width: 30px;
    height: 20px;

    transform: translate(0,2px);
}

main a{
    color: var(--gray-2);
}

main ul{
    margin: var(--gap-4) 0 0 0;
}

main li{
    margin: var(--gap-4) 0;
    
    font-weight: bold;
}    

main li > ul {
    padding-left: var(--gap-4);
    border-left: 2px solid var(--gray-3);
}

main section {
    margin: var(--gap-3) 0;
}

main section + section {
    margin-left: var(--gap-4);
}

main section > .files-list {
    height: 250px;

    padding-left: 10px;
    
    overflow-y: auto;
    
    scrollbar-width: none;
}

main section > .files-list::-webkit-scrollbar {
    width: 0;
} 

main section:nth-of-type(3n+1) h1::before {
    background: var(--purple);
}

main section:nth-of-type(3n+2) h1::before {
    background: var(--green);
}

main section:nth-of-type(3n+3) h1::before {
    background: var(--red);
}

main section.pratices li::marker {
    color: var(--purple);
}

main section.challanges li::marker {
    color: var(--green);
}

main section.exercises li::marker {
    color: var(--red);
}

/* FOOTER */
footer {
    padding: var(--gap-1);

    font-size: 1.1em;
    font-weight: bold;
    
    background: var(--gray-4);
}

footer p,
footer a {
    text-align: center;
    text-transform: none;
    color: #656565;

    transition: .5s;
}
footer a:hover {
    color: var(--gray);
}
