@charset "UTF-8";

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(218, 187, 131);
}

#conteiner{
    display: inline-block;
}

#conteiner > .h1-area{
    display: block;
    text-align: center;
}

.h1-area > h1{
    display: inline-block;
    padding-bottom: 5px;
    color: whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

table{
    width: 400px;
    border-collapse: collapse;
}

caption{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid black;
    /*border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;*/
    background-color: whitesmoke;
}

tr > td:last-child{
    text-align: right;
}

th, td{
    padding: 5px 20px;
    border: 1px solid black;
}

th:nth-child(even){
    background-color: #e6e6e6;
}

tr:nth-child(odd){
    background-color: whitesmoke;
}

tr:nth-child(even){
    background-color: #b897b86b;
}

td{
    text-align: center;
}