@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* === GLOBAL SETS === */
*{
    margin: 0;
    padding: 0;
    font-family: var(--stdrt-font);
    box-sizing: border-box;
}

:root{
    /* === FONTS === */
    --stdrt-font: 'Nunito', Helvetica, Arial, sans-serif;
    
    /* === Colors === */
    --color-1: #222222; /* Black */
    --color-2: #122ab2; /* Dark Blue */
    --color-3: #2c70ff; /* Light Blue */
    --color-4: #7c7c7c; /* Light Gray */
    --color-5: #a4a4a4; /* Lighter Gray */
    --color-6: #f7f7f7; /* Cooler Whitesmoke */
    /* === Used on Products adn Qualities === */
    --purple: #ae81ff;
    --pink: #f9265e;
    --blue: #66d9eb;
    
    /* === Properties ===*/
    --stdrt-max-width: 960px;
    /*- produtos span de item: 300px*/
    --gap-1: 10px;
    --gap-2: 15px;
    --gap-3: 60px;
    --gap-4: 20px;
    --gap-5: 30px;
    --stdrt-stroke: 2px solid var(--color-2);
    --font-size-1: 3rem;
    --font-size-2: 2.25rem;
    --border-2: 4px solid; /* Used on Prices Plans */
    --border-3: 3px solid;
    --border-4: 8px solid; /* Used on Qualities */
}

span{
    display: block;
}

img{
    display: block;
    max-width: 100%;
}

a, abbr{
    text-decoration: none;
}

ul{
    list-style: none;
}

button,
input[button]{
    cursor: pointer;
}

input, button{
    display: block;
}

/* CONTACT */
.contact-area-bg{
    color: white;
    background: var(--color-2);
}

.contact-area{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0 auto;
    max-width: var(--stdrt-max-width);
    padding: var(--gap-1) 0;
}

.contact-area span{
    margin: 0 var(--gap-1);
}

.contact-area span, .contact-area a{
    display: block;
}

/* HEADER */
.header-area-bg{
    background: var(--color-3);
}

.header-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    max-width: var(--stdrt-max-width);
    margin: 0 auto;
    padding: var(--gap-2) 0;

}

.header-area a{
    color: white;    
}

.header-area .logo h1{
    margin-left: var(--gap-1);
    
    font-size: var(--font-size-2);
    font-weight: bold;
}

.header-area ul{
    display: flex;
    flex-wrap: wrap;
    
    font-size: 1.2rem;
}

.header-area li > a{
    display: block;
    padding: var(--gap-1);
}

.header-area nav a:hover{
    color: var(--color-2);
}

/* Intro */
.intro-area{
    max-width: var(--stdrt-max-width);
    margin: 0 auto;
    padding: var(--gap-3) 0;
    border-bottom: var(--stdrt-stroke);
}

.intro-area h1{
    margin-left: var(--gap-1);

    font-size: var(--font-size-1);
    font-weight: bold;
    line-height: 1.3;
}

/* ABOUT */
.about-area{
    display: flex;
    flex-wrap: wrap;
    
    max-width: var(--stdrt-max-width);
    margin: 0 auto;  
    padding: var(--gap-3) 0;

    border-bottom: var(--stdrt-stroke);
}

.about-area-text{
    flex: 2 1 300px;

    margin-left: var(--gap-1);
}

.about-area h1{
    margin-bottom: var(--gap-5);
    
    font-size: var(--font-size-1);
}

.about-area p{
    margin-bottom: var(--gap-4);
    font-size: 1.25rem;
    line-height: 1.4;
    color: var(--color-4);
}

.about-area-img{
    flex: 1 1 150px;
    align-self: flex-start;
    margin: 0 var(--gap-1);
}

/* PRODUCTS */
.products-area{
    display: flex;
    flex-wrap: wrap;
    
    max-width: var(--stdrt-max-width);
    margin: 0 auto;
    padding: var(--gap-3) 0;
}

.products-area h1{
    flex: 1 1 100%;
    
    margin-left: var(--gap-1);
    padding: 0 0 var(--gap-3) 0;
    
    font-size: var(--font-size-1);
    color: var(--color-1);
}

.products-area-items{
    flex: 1 1 220px;
    align-self: flex-end;
    
    margin: var(--gap-1) var(--gap-1) 0;
    
    background: var(--color-6);
}/*

.products-area-items + .products-area-items{
    margin-left: var(--gap-1);
}*/

.products-area-items h2{
    margin: var(--gap-3) var(--gap-1);
    
    font-size: var(--font-size-1);
    color: var(--color-5);
}

.products-area .purple{
    border-top: var(--border-4) var(--purple);
}

.products-area .pink{
    border-top: var(--border-4) var(--pink);
}

.products-area .blue{
    border-top: var(--border-4) var(--blue);
}

/* Plans */
.prices-area-bg{
    background: var(--color-6);
}

.prices-area{
    display: flex;
    flex-wrap: wrap;

    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap-3) var(--gap-1);
}

.prices-area-plans{
    flex: 1 1 200px;
    align-self: flex-end;
    margin: var(--gap-2);
    padding: var(--gap-2) var(--gap-5);

    border: var(--border-2) white;
}

.prices-area h2{
    margin: var(--gap-1) 0;

    text-align: center;
    font-size: var(--font-size-2);
    color: var(--color-5);
}

.prices-area span{
    display: block;
    padding: var(--gap-1) 0;
   
    text-align: center;
    font-size: var(--font-size-2);
    font-weight: bold;
    border-top: var(--border-2) white;
    border-bottom: var(--border-2) white;
}

.prices-area ul{
    margin: var(--gap-2);
}

.prices-area li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-1) 0;

    font-style: italic;
    color: var(--color-4);
}

.prices-area li::after{
    display: block;
    content: '';
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: var(--color-3);
}

.prices-area form{
    display: block;
}

.prices-area button{
    width: 100%;
    padding: var(--gap-1);

    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-2);
    font-weight: bold;
    border: var(--border-3) var(--color-1);
    background: transparent;
}

/* Qualities */
.qualities-area{
    max-width: var(--stdrt-max-width);
    margin: var(--gap-3) auto;
    padding: var(--gap-1) 0;
}

.qualities-area ul{
    display: flex;
    flex-wrap: wrap;
}

.qualities-area ul li{
    flex: 1 1 300px;

    margin: var(--gap-1);
}

.qualities-area li h1{
    margin-bottom: var(--gap-1);
    padding: 0 var(--gap-1);

    font-size: 2.25rem;
    color: var(--color-5);
}

.qualities-area li:nth-of-type(3n+1) h1{
    border-left: var(--border-4) var(--purple);
}

.qualities-area li:nth-of-type(3n+2) h1{
    border-left: var(--border-4) var(--pink);
}

.qualities-area li:nth-of-type(3n+3) h1{
    border-left: var(--border-4) var(--blue);
}

.qualities-area li p{
    margin-bottom: var(--gap-2);

    line-height: 1.5;
    font-size: 1.25rem;
    color: var(--color-4);
}

/* NEWSLETTER */
.newsletter-area-bg{
    background: var(--color-6);
}

.newsletter-area{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    max-width: var(--stdrt-max-width);
    margin: 0 auto;
    padding: var(--gap-3) 0;
}

.newsletter-area-title{
    flex: 1 1 210px;

    margin-left: var(--gap-1);
}

.newsletter-area-title h1{
    font-size: var(--font-size-1);
    color: var(--color-5);
}

.newsletter-area .subtitle{
    max-width: 240px;
    margin-bottom: var(--gap-1);

    font-size: 1.2rem;
    font-style: italic;
    color: var(--color-5);
}

.newsletter-area-form{
    flex: 2 1 220px;

    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    margin: 0 var(--gap-1);
}

.newsletter-area-form input{
    flex: 1 1 220px;

    padding: var(--gap-4) var(--gap-1);

    font-family: var(--stdrt-font);
    font-size: 1.25rem;
    font-style: italic;
    border: var(--border-2) var(--color-3);
    outline: none;
    background: transparent;
}

.newsletter-area-form button{
    flex: 1 1 260px;

    padding: var(--gap-2);

    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
    background: var(--color-3);
}

/* FOOTER */
.footer-area{
    padding: var(--gap-3);
    background: var(--color-3);
}

.footer-area p{
    text-align: center;
    font-size: 2.25rem;
    color: var(--color-2);
}

.footer-area a{
    color: var(--color-2);
}

.footer-area a:hover{
    color: white;
}