@charset "UTF-8";

* {
  margin: 0;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;
}
/* === GENERAL === */
:root {

  /* === COLORS === */
  --color1: #000000;
  --color2: #575757;
  --color5: #f5f5f5; /* whitesmoke */
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

body, html {
  background-color: white;
}

/* === STYLIZATION === */
#publisher {
  padding: 5px;

  width: 230px;

  user-select: none;

  border-left: 4px solid black;
}

.profile {
  margin-right: 5px;
  border-radius: 50%;
}

.date {
  font-size: 0.8em;
}

/* == HEADER == */
header {
  background-color: var(--color1);
}

header h1 {
  padding: 30px 0;

  font-size: 2em;
  color: whitesmoke;
  text-align: center;
}

menu {
  box-sizing: border-box;

  border: 3px solid var(--color1);
}

menu > ul a {
  padding: 10px;

  text-align: center;

  color: black;
  background-color: var(--color5);
}

menu ul > li:nth-of-type(n+2) a {
  border-top: 2px solid rgb(87, 87, 87);
}

menu > ul a:hover {
  background-color: rgb(230, 230, 230);
}

/* == Main == */

main {
  margin: 0 auto;
  padding: 10px;

  border-left: 3px solid black;
  border-right: 3px solid black;
  background-color: white;
}

article blockquote h1 {
  margin: 20px 0;
}

article blockquote p {
  margin-bottom: 20px;

  font-size: 1.113em;
  text-align: justify;
  hyphens: auto;
}